@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    var(--bg-start) 0%,
    var(--bg-mid) 50%,
    var(--bg-end) 100%
  );
  color: var(--text-primary);
  font-family: var(--font-montserrat);
}

/* globals.css */
:root {
  --bg-start: #0b2c3f;
  --bg-mid: #0e3a4e;
  --bg-end: #1b4a5e;

  --text-primary: #e6ecef;
  --text-secondary: #b7c6ce;

  --card-bg: #efe6d8;
}
