@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    var(--bg-start) 0%,
    var(--bg-mid) 50%,
    var(--bg-end) 100%
  );
  color: var(--text-primary);
  font-family: var(--font-montserrat);
}

/* globals.css */
:root {
  --bg-start: #0b2c3f;
  --bg-mid: #0e3a4e;
  --bg-end: #1b4a5e;

  --text-primary: #e6ecef;
  --text-secondary: #b7c6ce;

  --card-bg: #efe6d8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 0px 1000px rgba(14,42,58,0.6);
}

/* ===============================
   Custom Scrollbar (Webkit)
================================ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e2a3a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #efe6d8,
    #cfc4b3
  );
  border-radius: 999px;
  border: 2px solid #0e2a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #f3ede3,
    #d8ccb8
  );
}
